@import "settings";

@import "foundation/components/alert-boxes";
@import "foundation/components/grid";
@import "foundation/components/breadcrumbs";
@import "foundation/components/button-groups";
@import "foundation/components/buttons";
@import "foundation/components/clearing";
@import "foundation/components/forms";
@import "foundation/components/inline-lists";
@import "foundation/components/type";
@import "foundation/components/top-bar";
@import "foundation/components/tables";
@import "foundation/components/labels";
@import "foundation/components/visibility";

// @import "glyphicons_filetypes";
@import "icons/glyphicons_social";
// @import "glyphicons_halflings";
// @import "glyphicons_regular";


@mixin default-typo() {
	font-family: $font-family-sans-serif;
}

@mixin brand-typo() {
	font-family: 'Comfortaa', sans-serif;
	font-weight: 400;
}

.contain-to-grid {
	background-color: #fff;
}

html,
body {
	@include default-typo();
	line-height: $base-line-height;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fff;
}


#editor {
    position: relative;
    height: 300px;
}
