@import "settings";

@import "foundation/components/alert-boxes";
@import "foundation/components/grid";
@import "foundation/components/breadcrumbs";
@import "foundation/components/button-groups";
@import "foundation/components/buttons";
@import "foundation/components/clearing";
@import "foundation/components/forms";
@import "foundation/components/inline-lists";
@import "foundation/components/type";
@import "foundation/components/top-bar";
@import "foundation/components/tables";
@import "foundation/components/labels";
@import "foundation/components/visibility";

// @import "glyphicons_filetypes";
@import "icons/glyphicons_social";
// @import "glyphicons_halflings";
// @import "glyphicons_regular";


@mixin default-typo() {
	font-family: $font-family-sans-serif;
}

@mixin brand-typo() {
	font-family: 'Comfortaa', sans-serif;
	font-weight: 400;
}

.contain-to-grid {
	background-color: #fff;
}

html,
body {
	@include default-typo();
	line-height: $base-line-height;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fff;
}

section[role="header"] {
	position: relative;
	top: 10px;
}


.top-bar-section {
	li:not(.has-form) {
		a:not(.button) {
			background-color: #fff;

			&:hover {
				background-color: #fff;
			}
		}
	}
}

a.avatar {
	img {
		width: 40px;
		border-radius: 50%;
		box-shadow: 0 0 0 2px #fff, 0 0 0 3px #999, 0 1px 4px 3px rgba(0,0,0,.2);
		margin-right: 5px;
	}

	&:hover {
		img {
			box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
		}
	}
}

#editor {
	position: relative;
	height: 300px;
}


footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 100px;
}
