{% extends "recipi/base.html" %}
{% load i18n static json %}

{% block main-content %}
    <div class="row">
        <div class="small-12 medium-12 large-12 columns tagline">
            <h3>
                <strong>
                    Eat healthier
                </strong>
                <br />
                to live longer and stronger.
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h3>User Info on Tumblr</h3>
            <pre>
                {{ user_info|pretty_json }}
            </pre>
{% endblock %}
